<div id="menu-nav" style="background-color: #f7b42c;
background-image: linear-gradient(to right top, #b06490, #ae70a5, #a97db8, #a18ac9, #9697d8, #89a5e6, #79b2f1, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
" >
  <div id="navigation-bar">
    <ul>
      <li><a href="#"[routerLink]="['/login']"><i class="fa fa-book"></i><span>Login</span></a></li>
      <li><a href="#"[routerLink]="['/about']"><i class="fa fa-user"></i><span>About</span></a></li>
      <li><a href="#"[routerLink]="['/']"><i class="fa fa-home"></i><span>Home</span></a></li>
    </ul>
  </div>
  
  </div>  
